@font-face {
    font-family: "AkiraExpanded";
    src: url("./AkiraExpanded.otf") format("opentype");
}

@font-face {
    font-family: "Neutro";
    src: url("./Neutro.otf") format("opentype");
}

@font-face {
    font-family: "Neutro-Outline";
    src: url("./Neutro-Outline.otf") format("opentype");
}

@font-face {
    font-family: "StrechPro";
    src: url("./StrechPro.otf") format("opentype");
}

@font-face {
    font-family: "Underrated";
    src: url("./Underrated.otf") format("opentype");
}